## Vector

In [ ]:
x = c(7, 8, 10, 45)
is.vector(x)
weekly.hours = vector(length = 5)
weekly.hours
weekly.hours[5] = 8
weekly.hours

y = c(-7, -8, -10, -45)
x + y
x^c(1,0,-1,0.5)
2 * x
x > 9
(x>9) & (x<20)
x == -y
identical(x,-y)
identical(c(0.5-0.3,0.3-0.1), c(0.3-0.1,0.5-0.3))
all.equal(c(0.5-0.3,0.3-0.1), c(0.3-0.1,0.5-0.3))

##### Indexing vectors

In [27]:
x
x[c(2,4)]
x[c(-1,-3)]
x[x > 9]
y[ x > 9]
place = which(x > 9)
place

[1]  7  8 10 45

[1]  8 45

[1]  8 45

[1] 10 45

[1] -10 -45

[1] 3 4

#### Named components

In [32]:
names(x)  = c("v1","v2","v3","fred")
names(x)
x[c("fred","v1")]
names(y) = names(x)
sort(names(x))
which(names(x) == "fred")

[1] "v1"   "v2"   "v3"   "fred"

fred   v1
  45    7

[1] "fred" "v1"   "v2"   "v3"

[1] 4

## Arrays

In [ ]:
x  = c(7,8,10,45)
x.arr = array(x, dim = c(2,2))
x.arr
dim(x.arr)
is.vector(x.arr)
is.array(x.arr)
typeof(x.arr)

#### Indexing arrays

In [ ]:
x.arr[1,2]
x.arr[3]
x.arr[c(1,2),2]
x.arr[,2]
x.arr[,2,drop = FALSE]

## Functions on arrays

In [53]:
which(x.arr > 9)
y = -x
y.arr = array(y,dim=c(2,2))
y.arr + x.arr
rowSums(x.arr)
colSums(x.arr)

[1] 3 4

     [,1] [,2]
[1,] 0    0
[2,] 0    0

[1] 17 53

[1] 15 55

## 2d arrays: matrices

In [88]:
z.mat = matrix(c(40,1,60,3), nrow= 2)
zz.mat = matrix(c(40,1,60,3), nrow = 2, byrow = TRUE)
z.mat
zz.mat
is.array(z.mat)
is.matrix(z.mat)

     [,1] [,2]
[1,] 40   60
[2,]  1    3

     [,1] [,2]
[1,] 40   1
[2,] 60   3

[1] TRUE

[1] TRUE

#### Matrix multiplication

In [68]:
six.sevens = matrix(rep(7,6),ncol = 3)
six.sevens
z.mat %*% six.sevens

     [,1] [,2] [,3]
[1,] 7    7    7
[2,] 7    7    7

     [,1] [,2] [,3]
[1,] 700  700  700
[2,]  28   28   28

## Multiplying matrices and vectors

In [89]:
a.vec = c(10,20)
z.mat %*% a.vec
a.vec %*% z.mat


t(z.mat)
det(z.mat)
diag(z.mat)
diag(z.mat) = c(35,4)
z.mat

diag(c(3,4))
diag(2)

solve(z.mat)
z.mat %*% solve(z.mat)

     [,1]
[1,] 1600
[2,]   70

     [,1] [,2]
[1,] 420  660

     [,1] [,2]
[1,] 40   1
[2,] 60   3

[1] 60

[1] 40  3

     [,1] [,2]
[1,] 35   60
[2,]  1    4

     [,1] [,2]
[1,] 3    0
[2,] 0    4

     [,1] [,2]
[1,] 1    0
[2,] 0    1

     [,1]    [,2]
[1,]  0.0500 -0.7500
[2,] -0.0125  0.4375

     [,1] [,2]
[1,] 1    0
[2,] 0    1

## Lists

In [91]:
my.list = list("exponential", 7, FALSE)
my.list

[[1]]
[1] "exponential"

[[2]]
[1] 7

[[3]]
[1] FALSE

#### Accessing pieces of lists

In [112]:
my.list[1]
my.list = c(my.list, 9)
my.list
length(my.list)
length(my.list) = 3
my.list
names(my.list)= c("family", "mean","is.symmetric")

my.list['family']
my.list$family

another.list = list(family = "gaussian", mean = 7, sd = 1, is.symmetric = TRUE)
my.list$was.estimated = FALSE
my.list['last.updated'] = "2015-09,01"
my.list

my.list$was.estimated = NULL
my.list

$family
[1] "exponential"

$family
[1] "exponential"

$mean
[1] 7

$is.symmetric
[1] FALSE

$was.estimated
[1] FALSE

$last.updated
[1] "2015-09,01"

[[6]]
[1] 9

[1] 6

$family
[1] "exponential"

$mean
[1] 7

$is.symmetric
[1] FALSE

$family
[1] "exponential"

[1] "exponential"

$family
[1] "exponential"

$mean
[1] 7

$is.symmetric
[1] FALSE

$was.estimated
[1] FALSE

$last.updated
[1] "2015-09,01"

$family
[1] "exponential"

$mean
[1] 7

$is.symmetric
[1] FALSE

$last.updated
[1] "2015-09,01"


## Key-value pairs

## Data frames

In [122]:
a.mat = matrix(c(35,8,10,4), nrow = 2)
colnames(a.mat)= c("v1","v2")
a.mat[,"v1"]

a.df = data.frame(a.mat, logicals = c(TRUE,FALSE))
a.df
a.df$v1
a.df[,"v1"]
a.df[1,]
colMeans(a.df)

[1] 35  8

  v1 v2 logicals
1 35 10  TRUE
2  8  4 FALSE

[1] 35  8

[1] 35  8

  v1 v2 logicals
1 35 10 TRUE

      v1       v2 logicals
    21.5      7.0      0.5

#### Adding rows and columns

In [124]:
rbind(a.df, list(v1 = -3, v2 = -5, logicals = TRUE))
rbind(a.df, c(3,4,6))

  v1 v2 logicals
1 35 10  TRUE
2  8  4 FALSE
3 -3 -5  TRUE

  v1 v2 logicals
1 35 10 1
2  8  4 0
3  3  4 6